* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(
        #5b247a, 
        #7c3f98, 
        #9d55b6,
        #1bcedf
    );
    background-size: cover; /* Ensures the background covers the whole body */
    min-height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    color: #fff; /* Sets a light color for the text to contrast with the dark background */
}

.weather-app{
    margin: 0 20px;
    display: flex; /* Makes the app layout flexible */
    flex-direction: column; /* Stacks the children vertically */
    align-items: center; /* Centers the children horizontally */
}

.forecast-summaries{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Allows the forecast summaries to wrap onto the next line if there isn't enough space */
    gap: 30px; /* Adds some space between the forecast summaries */
}